header {
    height: 100px;
    width: 100%;
    background-color: purple;

    
}
header > div {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    background-color: pink;
    margin: 0 auto;
    
}

main {
    width: 100%;
    background-color: red;
}

main > div {
    width: 100%;
    max-width: 1000px;
    height: calc(100vh - 100px);
    background-color: royalblue;
    margin: 0 auto;
}